<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>com5_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,119},{1,1}}</string>
                <key>offset</key>
                <string>{-59.5,59.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com5_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,243},{6,10}}</string>
                <key>offset</key>
                <string>{-57,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{6,10}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com5_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,215},{8,12}}</string>
                <key>offset</key>
                <string>{56,-54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,108},{8,12}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com5_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,115},{2,2}}</string>
                <key>offset</key>
                <string>{59,-59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,118},{2,2}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com5_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1003},{18,28}}</string>
                <key>offset</key>
                <string>{-51,46}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,28}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com5_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,820},{36,54}}</string>
                <key>offset</key>
                <string>{-42,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{36,54}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com5_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,391},{66,98}}</string>
                <key>offset</key>
                <string>{-27,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,98}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com5_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com5_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,124},{82,120}}</string>
                <key>offset</key>
                <string>{19,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{38,0},{82,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com5_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,339},{50,74}}</string>
                <key>offset</key>
                <string>{35,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,46},{50,74}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com5_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{221,907},{30,46}}</string>
                <key>offset</key>
                <string>{45,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{90,74},{30,46}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com5_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{217,1003},{18,26}}</string>
                <key>offset</key>
                <string>{51,-47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{102,94},{18,26}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com6_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,119},{1,1}}</string>
                <key>offset</key>
                <string>{-59.5,59.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com6_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,815},{58,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,31},{58,58}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com6_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,708},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{110,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com6_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,119},{1,1}}</string>
                <key>offset</key>
                <string>{-59.5,59.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com6_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,848},{86,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,17},{86,86}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com6_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,918},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,10},{100,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com6_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{403,744},{106,106}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{7,7},{106,106}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com6_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,658},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{110,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com6_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,659},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{110,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com6_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,596},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{110,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com6_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,546},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{110,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com6_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{303,434},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,5},{110,110}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>com8_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,119},{1,1}}</string>
                <key>offset</key>
                <string>{-55,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>com8_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{295,507},{5,47}}</string>
                <key>offset</key>
                <string>{53,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{5,47}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>com8_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,373},{71,5}}</string>
                <key>offset</key>
                <string>{-3,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,0},{71,5}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>com8_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,391},{63,5}}</string>
                <key>offset</key>
                <string>{18,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,0},{63,5}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>com8_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,456},{49,5}}</string>
                <key>offset</key>
                <string>{31,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{62,0},{49,5}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>com8_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,446},{33,5}}</string>
                <key>offset</key>
                <string>{39,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{78,0},{33,5}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>com8_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,481},{23,5}}</string>
                <key>offset</key>
                <string>{44,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{88,0},{23,5}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>com8_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,572},{15,5}}</string>
                <key>offset</key>
                <string>{48,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{96,0},{15,5}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>com8_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,208},{9,5}}</string>
                <key>offset</key>
                <string>{51,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{102,0},{9,5}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>com8_17.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,638},{5,5}}</string>
                <key>offset</key>
                <string>{53,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{5,5}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>com8_18.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,119},{1,1}}</string>
                <key>offset</key>
                <string>{-55,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>com8_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,276},{5,95}}</string>
                <key>offset</key>
                <string>{53,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,0},{5,95}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>com8_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,484},{35,111}}</string>
                <key>offset</key>
                <string>{38,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{76,0},{35,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>com8_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,279},{83,111}}</string>
                <key>offset</key>
                <string>{14,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,0},{83,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>com8_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,2},{111,79}}</string>
                <key>offset</key>
                <string>{0,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,32},{111,79}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>com8_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,604},{97,63}}</string>
                <key>offset</key>
                <string>{-7,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,48},{97,63}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>com8_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,797},{17,103}}</string>
                <key>offset</key>
                <string>{-47,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,8},{17,103}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>com8_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,556},{33,65}}</string>
                <key>offset</key>
                <string>{-39,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,65}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>com8_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,792},{63,21}}</string>
                <key>offset</key>
                <string>{-24,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{63,21}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>efx_dot.png</key>
            <dict>
                <key>frame</key>
                <string>{{219,939},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>efx_flare.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{100,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{100,100}}</string>
                <key>sourceSize</key>
                <string>{100,100}</string>
            </dict>
            <key>efx_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,144},{112,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,112}}</string>
                <key>sourceSize</key>
                <string>{112,112}</string>
            </dict>
            <key>efx_light.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{304,140}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{304,140}}</string>
                <key>sourceSize</key>
                <string>{304,140}</string>
            </dict>
            <key>efx_plus.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,972},{29,29}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{29,29}}</string>
                <key>sourceSize</key>
                <string>{29,29}</string>
            </dict>
            <key>efx_smoke.png</key>
            <dict>
                <key>frame</key>
                <string>{{245,1002},{20,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{20,20}}</string>
                <key>sourceSize</key>
                <string>{20,20}</string>
            </dict>
            <key>efx_squ.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,972},{28,28}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,28}}</string>
                <key>sourceSize</key>
                <string>{28,28}</string>
            </dict>
            <key>efx_squ_big.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,483},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>efx_star.png</key>
            <dict>
                <key>frame</key>
                <string>{{249,939},{18,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{18,20}}</string>
                <key>sourceSize</key>
                <string>{18,20}</string>
            </dict>
            <key>efx_tri.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,895},{28,32}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{28,32}}</string>
                <key>sourceSize</key>
                <string>{28,32}</string>
            </dict>
            <key>lineGrow_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,605},{12,5}}</string>
                <key>offset</key>
                <string>{-12,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,2},{12,5}}</string>
                <key>sourceSize</key>
                <string>{40,11}</string>
            </dict>
            <key>lineGrow_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,269},{6,5}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{6,5}}</string>
                <key>sourceSize</key>
                <string>{40,11}</string>
            </dict>
            <key>lineGrow_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,262},{6,5}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{6,5}}</string>
                <key>sourceSize</key>
                <string>{40,11}</string>
            </dict>
            <key>lineGrow_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,530},{22,5}}</string>
                <key>offset</key>
                <string>{-8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,2},{22,5}}</string>
                <key>sourceSize</key>
                <string>{40,11}</string>
            </dict>
            <key>lineGrow_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,506},{22,5}}</string>
                <key>offset</key>
                <string>{-2,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,2},{22,5}}</string>
                <key>sourceSize</key>
                <string>{40,11}</string>
            </dict>
            <key>lineGrow_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,554},{16,5}}</string>
                <key>offset</key>
                <string>{4,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,2},{16,5}}</string>
                <key>sourceSize</key>
                <string>{40,11}</string>
            </dict>
            <key>lineGrow_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,589},{14,5}}</string>
                <key>offset</key>
                <string>{8,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,2},{14,5}}</string>
                <key>sourceSize</key>
                <string>{40,11}</string>
            </dict>
            <key>lineGrow_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,619},{10,5}}</string>
                <key>offset</key>
                <string>{11,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,2},{10,5}}</string>
                <key>sourceSize</key>
                <string>{40,11}</string>
            </dict>
            <key>lineGrow_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,236},{8,5}}</string>
                <key>offset</key>
                <string>{13,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,2},{8,5}}</string>
                <key>sourceSize</key>
                <string>{40,11}</string>
            </dict>
            <key>lineGrow_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,229},{8,5}}</string>
                <key>offset</key>
                <string>{14,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,2},{8,5}}</string>
                <key>sourceSize</key>
                <string>{40,11}</string>
            </dict>
            <key>lineGrow_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{419,255},{6,5}}</string>
                <key>offset</key>
                <string>{15,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{32,2},{6,5}}</string>
                <key>sourceSize</key>
                <string>{40,11}</string>
            </dict>
            <key>lineSweep_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,119},{1,1}}</string>
                <key>offset</key>
                <string>{-55,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{111,11}</string>
            </dict>
            <key>lineSweep_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,848},{33,11}}</string>
                <key>offset</key>
                <string>{-39,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,11}}</string>
                <key>sourceSize</key>
                <string>{111,11}</string>
            </dict>
            <key>lineSweep_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,591},{65,11}}</string>
                <key>offset</key>
                <string>{-23,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{65,11}}</string>
                <key>sourceSize</key>
                <string>{111,11}</string>
            </dict>
            <key>lineSweep_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{390,770},{85,11}}</string>
                <key>offset</key>
                <string>{-13,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{85,11}}</string>
                <key>sourceSize</key>
                <string>{111,11}</string>
            </dict>
            <key>lineSweep_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,770},{97,11}}</string>
                <key>offset</key>
                <string>{-7,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,11}}</string>
                <key>sourceSize</key>
                <string>{111,11}</string>
            </dict>
            <key>lineSweep_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,784},{105,11}}</string>
                <key>offset</key>
                <string>{-3,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,11}}</string>
                <key>sourceSize</key>
                <string>{111,11}</string>
            </dict>
            <key>lineSweep_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,771},{109,11}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{109,11}}</string>
                <key>sourceSize</key>
                <string>{111,11}</string>
            </dict>
            <key>lineSweep_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,534},{111,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,11}}</string>
                <key>sourceSize</key>
                <string>{111,11}</string>
            </dict>
            <key>lineSweep_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,521},{111,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,11}}</string>
                <key>sourceSize</key>
                <string>{111,11}</string>
            </dict>
            <key>lineblast_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{507,119},{1,1}}</string>
                <key>offset</key>
                <string>{-55,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>lineblast_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,820},{45,47}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,33},{45,47}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>lineblast_10.png</key>
            <dict>
                <key>frame</key>
                <string>{{291,783},{87,63}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{87,63}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>lineblast_11.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,703},{87,63}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,23},{87,63}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>lineblast_12.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,274},{75,63}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{75,63}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>lineblast_13.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,209},{75,63}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{75,63}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>lineblast_14.png</key>
            <dict>
                <key>frame</key>
                <string>{{229,144},{75,63}}</string>
                <key>offset</key>
                <string>{-7,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,23},{75,63}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>lineblast_15.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,876},{17,33}}</string>
                <key>offset</key>
                <string>{-35,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,24},{17,33}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>lineblast_16.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,631},{5,5}}</string>
                <key>offset</key>
                <string>{-41,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,52},{5,5}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>lineblast_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,491},{63,65}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,24},{63,65}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>lineblast_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,204},{73,75}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,19},{73,75}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>lineblast_4.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,936},{81,81}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,16},{81,81}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>lineblast_5.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,392},{83,85}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,13},{83,85}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>lineblast_6.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,657},{85,87}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,11},{85,87}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>lineblast_7.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,568},{87,87}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{87,87}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>lineblast_8.png</key>
            <dict>
                <key>frame</key>
                <string>{{422,479},{87,87}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,11},{87,87}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>lineblast_9.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,115},{87,75}}</string>
                <key>offset</key>
                <string>{-1,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,11},{87,75}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>number_10_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,876},{56,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{56,48}}</string>
                <key>sourceSize</key>
                <string>{56,48}</string>
            </dict>
            <key>number_10_tile.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,969},{22,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{22,22}}</string>
                <key>sourceSize</key>
                <string>{22,22}</string>
            </dict>
            <key>number_6_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,870},{31,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,46}}</string>
                <key>sourceSize</key>
                <string>{31,46}</string>
            </dict>
            <key>number_6_on_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,371},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>number_7_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{115,370},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>number_7_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,925},{30,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,45}}</string>
                <key>sourceSize</key>
                <string>{30,45}</string>
            </dict>
            <key>number_7_on_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,321},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>number_8_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>number_8_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{225,875},{30,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{30,47}}</string>
                <key>sourceSize</key>
                <string>{30,47}</string>
            </dict>
            <key>number_8_on_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,257},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>number_9_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,208},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>number_9_num.png</key>
            <dict>
                <key>frame</key>
                <string>{{154,820},{31,48}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{31,48}}</string>
                <key>sourceSize</key>
                <string>{31,48}</string>
            </dict>
            <key>number_9_on_blank.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,144},{111,111}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,111}}</string>
                <key>sourceSize</key>
                <string>{111,111}</string>
            </dict>
            <key>number_glow.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,547},{110,110}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{110,110}}</string>
                <key>sourceSize</key>
                <string>{110,110}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>efx.png</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:389973e2da9ee7700e070471f4f1be59:1/1$</string>
            <key>textureFileName</key>
            <string>efx.png</string>
        </dict>
    </dict>
</plist>
